<header>
  <nav>
    <h2>THE DESIGN SHOP</h2>
    <ul id="menu-list">
      <a href="" onClick="closeMenu()">x</a>
      <li><a href="">Weekly Recommendations</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="/add_product">Add Product</a></li>
    </ul>
    <a onClick="openMenu()"><i class="fas fa-bars"></i></a>
  </nav>
</header>
