<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <%- include('../partials/header.ejs')  %>
  <main>
    <h2>ADD A NEW PRODUCT</h2>
    <form action="/newItem" method="post">
      <input type="text" name="pname" id="pname" placeholder="Product name">
      <input type="text" name="pUrl" id="pUrl" placeholder="Picture url">
      <input type="text" name="cname" id="cname" placeholder="Company name">
      <input type="number" name="itemPrice" id="itemPrice" placeholder="Price">
      <input type="text" name="shopUrl" id="shopUrl" placeholder="Shop url">
      <input type="submit" value="ADD PRODUCT">
    </form>
  </main>
  <%- include('../partials/footer.js')  %>
  <script src="/main.js"></script>
</body>

</html>
